/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";

        row-gpios 
          = <&pro_micro D17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&pro_micro D16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&pro_micro D15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          , <&pro_micro D14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
          ;

          col-gpios 
          = <&pro_micro D5 GPIO_ACTIVE_HIGH>
          , <&pro_micro D13 GPIO_ACTIVE_HIGH>
          , <&pro_micro D12 GPIO_ACTIVE_HIGH>
          , <&pro_micro D11 GPIO_ACTIVE_HIGH>
          , <&pro_micro D10 GPIO_ACTIVE_HIGH>
          ;
    };
};