/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

 
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp BSPC  &kp N7  &kp N8 &kp N9  
                &kp EQUAL &kp N4  &kp N5 &kp N6  
                &kp MINUS &kp N1  &kp N2 &kp N3  
                &to 1     &kp ESC  &kp DOT &kp N0 &mt RSHFT RET
            >;
        };

        nav_layer {
            bindings = <
                &kp N1   &kp N2   &kp N3   &kp N4
                &kp Q    &kp W    &kp E    &kp R
                &kp A    &kp S    &kp D    &kp F
                &to 0    &kp ESC  &kp C    &kp B   &kp T
            >;
        };
    };

    encoders {
        compatible = "zmk,encoders";    
    encoder_1: encoder1 {
        zmk,bindings = <&inc_dec_kp &kp VOLU &kp VOLD>;
    };

    encoder_2: encoder2 {
        zmk,bindings = <&inc_dec_kp &kp PGUP &kp PGDN>;
    };
  };
};
