/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include "dumbpad.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";
         
         col-gpios 
          = <&pro_micro 5 GPIO_ACTIVE_HIGH>
          , <&pro_micro 15 GPIO_ACTIVE_HIGH>
          , <&pro_micro 14 GPIO_ACTIVE_HIGH>
          , <&pro_micro 16 GPIO_ACTIVE_HIGH>
          , <&pro_micro 10 GPIO_ACTIVE_HIGH>
          ;
    };

        left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

        sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <20>;
    };
    
    &left_encoder {
    status = "okay";
    };
};
