/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
        keymap {
                compatible = "zmk,keymap";

// ---------------------------------------
//          BSPC |  7    |  8  |  9   | 
//          EQUAL|  4    |  5  |  6   | 
//          MINUs|  1    |  2  |  3   |      
// | TO(1) | ESC |  0    |  .  | ENT  |
// ---------------------------------------

                default_layer {
                        bindings = <
          &kp BSPC  &kp N7  &kp N8 &kp N9  
          &kp EQUAL &kp N4  &kp N5 &kp N6  
          &kp MINUS &kp N1  &kp N2 &kp N3  
    &to 1 &kp ESC   &kp DOT &kp N0 &mt RSHFT RET
   
     >;
        };
 
                nav_layer {
// --------------------------------------
//       | 1    |  2    |   3  |   4  |
//       | Q    |  W    |   E  |   R  |
//       | A    |  S    |   D  |   F  |       
// |TO(0)| ESC  |  C    |   B  |   T  |
// --------------------------------------
                         bindings = <
          &kp N1   &kp N2   &kp N3   &kp N4
          &kp Q    &kp W   &kp E   &kp R
          &kp A    &kp S   &kp D   &kp F
    &to 0 &kp ESC  &kp C   &kp B   &kp T

     >;    
    };
   }; 
                {
        &encoder1 {
        binding = <&inc_dec_volume>;
        };

        &encoder2 {
        binding = <&inc_dec_scroll>;
        }
 };
};