# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DUMBPAD

config ZMK_KEYBOARD_NAME
    default "dumbpad"

if ZMK_DISPLAY

config I2C
  default y

config SSD1306
  default y

if LVGL

config LV_Z_VDB_SIZE
  default 64

config LV_DPI_DEF
  default 148

config LV_Z_BITS_PER_PIXEL
  default 1

choice LV_COLOR_DEPTH
  default LV_COLOR_DEPTH_1
endchoice

if EC11

choice EC11_TRIGGER_MODE
    prompt "Trigger mode"
    default EC11_TRIGGER_NONE
    help
      Specify the type of triggering to be used by the driver.

config EC11_TRIGGER_NONE
    bool "No trigger"

config EC11_TRIGGER_GLOBAL_THREAD
    bool "Use global thread"
    depends on GPIO
    select EC11_TRIGGER

config EC11_TRIGGER_OWN_THREAD
    bool "Use own thread"
    depends on GPIO
    select EC11_TRIGGER

endchoice

config EC11_TRIGGER
    bool

config EC11_THREAD_PRIORITY
    int "Thread priority"
    depends on EC11_TRIGGER_OWN_THREAD
    default 10
    help
      Priority of thread used by the driver to handle interrupts.

config EC11_THREAD_STACK_SIZE
    int "Thread stack size"
    depends on EC11_TRIGGER_OWN_THREAD
    default 1024
    help
      Stack size of thread used by the driver to handle interrupts.

endif # EC11

endif # LVGL

endif # ZMK_DISPLAY

endif #SHIELD_DUMBPAD